@import "vars",
"mixin";
@import "reset";
@import "grid";
@import "form";
html {
    font-size: 62.5%;
}

.header {
    position: fixed;
    height: rem(80);
    line-height: rem(80);
    left: 0;
    top: 0;
    right: 0;
    z-index: 999;
    color: #fff;
    border-bottom: 1px solid #d2d2d2;
    display: flex;
    justify-content: center;
    text-align: center;
    background-image: linear-gradient(45deg, #404996, #4752a4);
    i,
    a {
        flex: 1;
        line-height: rem(80);
        font-size: rem(70);
    }
    h1 {
        flex: 9;
        font-size: rem(50);
    }
}

body {
    -webkit-overflow-scrolling: touch;
    overflow-scrolling: touch;
    overflow-x: hidden;
}

#container {
    margin: {
        // top: rem(200);
        bottom: rem(120);
    }
}

.footer {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    height: rem(80);
    z-index: 999;
    border-top: 1px solid #d2d2d2;
    background: #fff;
    @include media(sm) {
        display: block;
    }
    .nav {
        display: flex;
        li {
            flex: 1;
            padding-top: rem(20);
            a {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
            }
        }
    }
}

.card {
    border: 1px solid #eee;
    margin: rem(5);
    @include media(md) {
        height: rem(550);
    }
    height: rem(500);
    position: relative;
    perspective: 500px;
    box-shadow: inset 1px 1px 5px rgba(0, 0, 0, .5);
    img {
        max-width: 100%;
        height: auto;
        display: block;
    }
    .caption {
        padding: rem(20);
    }
    .card-title {
        font-size: rem(40);
        font-weight: bold;
        text-shadow: 1px 1px 2px #d3d5d6;
        text-align: center;
        padding-top: rem(40);
    }
    .card-state {
        margin-top: rem(30);
        text-align: center;
        h3 {
            margin-bottom: rem(20);
        }
        p {
            margin-bottom: rem(20);
            padding: 0 rem(20);
        }
    }
    .up,
    .down {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        backface-visibility: hidden;
        text-align: center;
        line-height: rem(500);
        letter-spacing: 3px;
        box-shadow: inset 1px 1px 5px rgba(0, 0, 0, .5);
    }
    .up {
        background: url('../img/poker.jpg') center no-repeat;
        background-size: cover;
        transform: rotateY(0deg);
        color: #ffffff;
        border-radius: 15px;
    }
    .down {
        background: $error;
        color: #ffffff;
        transform: rotateY(-180deg);
        border-radius: 15px;
    }
    &.border {
        box-shadow: 0 0 100px #000000;
    }
    transform-style: preserve-3d;
    &.active {
        .up {
            transform: rotateY(-180deg);
        }
        .down {
            transform: rotateY(0deg);
        }
    }
}